<!DOCTYPE html>
<html>
    <head>
    <title>{{party_2018.title}}</title>
    <link rel="stylesheet" href="css/base.css" >
</head>
  <body>
    {% include './_include/header.twig' %}
  2018-party
  {% include './_include/footer.twig' %}
  <script src="js/main.js"></script>
  </body>
</html>
