<ul class="navbar">
    <li>
        <a href="/index.html">{{title}}</a>
    </li>
    <li>
        <a href="/event.html">活動{{event01.title}}</a>
    </li>
    <li>
        <a href="/test.html">test</a>
    </li>
    <li>
        <a href="/article/article.html">Article</a>
    </li>
</ul>
