{% extends "../layouts/wrapper.twig" %}
{% set test_title = 'article title' %}
{% set test_description = description.article %}

{% block page %}
    <header>
        <h1>Article twig</h1>
    </header>
    <p>
        This page is Article.
    </p>
{% endblock %}