<!DOCTYPE html>
<html>
    <head>
        <title>event</title>
        <link rel="stylesheet" href="css/base.css" >
    </head>
  <body>
    {% include './_include/header.twig' %}
        這是 event
    {% include './_include/footer.twig' %}
  </body>
</html>
